In [1]:
# Create and run quick checks on the output data files here as needed.

In [1]:
# Looking at the relationship between the whole dataset of unique text strings and the separated files for surveys.
# Together they should comprise the whole thing, and the overlap between them should be small.
import pandas as pd
df_all = pd.read_csv("../data/4_ids_and_unique_texts.csv")
df_1 = pd.read_csv("../data/6_part_1_binned_and_blocked_texts.csv")
df_2 = pd.read_csv("../data/6_part_2_binned_and_blocked_texts.csv")

# Checking relationship between entire dataset and parts, not equal because some short strings were removed.
print(len(set(df_all["id"])))
print(len(set(df_all["text"])))
print(len(set(df_1["id"].values).union(set(df_2["id"].values))))
print(len(set(df_1["text"].values).union(set(df_2["text"].values))))

5451
5451
5081
5081

In [2]:
# What does the venn diagram between unique texts and their IDS in the two parts look like.
print(len(set(df_1["id"].values)-set(df_2["id"].values)))
print(len(set(df_1["text"].values)-set(df_2["text"].values)))
print(len(set(df_2["id"].values)-set(df_1["id"].values)))
print(len(set(df_2["text"].values)-set(df_1["text"].values)))
print(len(set(df_1["id"].values).intersection(set(df_2["id"].values))))
print(len(set(df_1["text"].values).intersection(set(df_2["text"].values))))

# The second part is entirely contained with the first, because it's made up of texts from the first that were missed.
# There are lots of texts from the first missing in the second, because these were already looked at.
# It doesn't matter whether the id of text field is used these should be a one to one relationship for unique texts.

2652
2652
0
0
2429
2429

In [27]:
# Looking at how many times each text was annotated, and how that relates to their length.
df = pd.read_csv("../data/4_ids_and_unique_texts.csv")
df_ann_1 = pd.read_csv("../data/S301881_number_of_annotations_per_id_09_25_2020_h23m31s22.csv")
df_ann_2 = pd.read_csv("../data/S195681_number_of_annotations_per_id_10_01_2020_h23m32s48.csv")
assert len(df_ann_1) == len(df_ann_2)
df_ann = df_ann_1.merge(right=df_ann_2, on=["id"], suffixes=("_1","_2"))
df_ann["num_highlights"] = df_ann["num_highlights_1"]+df_ann["num_highlights_2"]
df_ann["text"] = df_ann["id"].map(lambda x: dict(zip(df["id"].values,df["text"].values))[x])
df_ann["num_chars"] = df_ann["text"].map(lambda x: len(x))
df_ann.sort_values(by="num_highlights", inplace=True)
df_ann.head(20)

,id,num_highlights_1,num_highlights_2,num_highlights,text,num_chars
4148,4149,0,0,0,"c.65A>G, p.Asp22Gly and D22G",28
1061,1062,0,0,0,aka NM_025145.6(CFAP43):c.4132C>T or (p.Arg137...,74
4008,4009,0,0,0,"rs1057868, also known as A503V, is a relativel...",826
2048,2049,0,0,0,aka c.157delC (p.Arg53Alafs),28
2635,2636,0,0,0,Polymorphisms in the serotonin receptor gene H...,215
2630,2631,0,0,0,"HTR1A gene; c.659G>T, p.Arg220Leu (formerly 65...",62
1046,1047,0,0,0,aka NM_001194998.1(CEP152):c.261+1G>COMIM path...,60
2054,2055,0,0,0,aka c.248G>A (p.Arg83His or R83H),33
2055,2056,0,0,0,aka c.508C>T (p.Arg170Ter or R170X),35
3991,3992,0,0,0,23andMe name: i5006729,22
2628,2629,0,0,0,aka c.4740+5G>A,15
4044,4045,0,0,0,rs104894183,11
4045,4046,0,0,0,rs104894182,11
4046,4047,0,0,0,rs104894181,11
4047,4048,0,0,0,rs104894180,11
4048,4049,0,0,0,rs104894176,11
4050,4051,0,0,0,c.190C>T (p.Gln64Ter)23andMe name: i5000835,43
4051,4052,0,0,0,c.1286G>A (p.Gly429Glu)23andMe name: i5000834,45
4053,4054,0,0,0,c.548T>G (p.Val183Gly)23andMe name: i5000832,44
4043,4044,0,0,0,rs193302876,11